h3{
    color:rgb(92, 4, 175);
    font-size: 32px; 
}
#one{
    color:blueviolet;
    font-size:32px ;
}

#learn{
    margin-top:75px ;
}
#third{
    text-align: center;
}
#here{
    text-align: center;
}
h5{
    color:rgb(92, 4, 175);
}